<header>
    <div class="first-header">
        <img src="../../assets/img/logo.png" routerLink='' alt="MyHeroes">
        <nav class="nav">
            <ul>
                <li><a href="" routerLink="search">Search</a></li>
                <li><a href="" routerLink="heroes">Gallery</a></li>
                <li class="repositorie-link"><a href="https://github.com/DanielGomezCode/myheroes">See repositorie</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-bars menu"></i>
    </div>
    <div class="two-header">
        <a href="https://github.com/DanielGomezCode/myheroes">See Repositorie <i class="fa-brands fa-github"></i></a>
    </div>
</header>