<article class="home">
    <!-- First Banner-->
    <div class="superman">
        <div class="first-info">
            <div class="superhero">
                <h2>SUPERMAN</h2>
                <ul>
                    <li><strong>Real Name:</strong> Clark Kent</li>
                    <li><strong>Race:</strong> Kryptonian</li>
                    <li><strong>Gender:</strong> Male</li>
                    <li><strong>Publisher:</strong> DC Comics</li>
                    <li><strong>City:</strong> Metropolis</li>
                    <li><strong>Occupation:</strong> Journalist</li>
                </ul>
            </div>
            <img class="imghero" src="../../assets/img/superman.png" alt="superman">
            <p class="phraseHero">"I can't save everyone because I'm not God, But I can try... Because I'm Superman."</p>
        </div>
        <div class="two-info">
            <h3 class="introHero">¡¡It's not a bird, it's not a plane!!...</h3>
            <p>Look for your favorite SuperHero in our search section like this
            You will be able to know all their specific information such as skills, appearance, etc.</p>
            <a href="" routerLink="search" class="btnHero">Search Hero</a>
        </div>
    </div>
    <!-- Two Banner-->
    <div class="spiderman">
        <div class="first-info">
            <div class="superhero">
                <h2>SPIDERMAN</h2>
                <ul>
                    <li><strong>Real Name:</strong> Peter Parker</li>
                    <li><strong>Race:</strong> Human</li>
                    <li><strong>Gender:</strong> Male</li>
                    <li><strong>Publisher:</strong> Marvel</li>
                    <li><strong>City:</strong> New York</li>
                    <li><strong>Occupation:</strong> Student</li>
                </ul>
            </div>
            <img class="imghero" src="../../assets/img/spiderman.png" alt="spiderman">
            <p class="phraseHero">"With great power comes a great responsibility."</p>
        </div>
        <div class="two-info">
            <h3 class="introHero">¡¡I'm your friendly neighbor Spiderman!!...</h3>
            <p>Discover the number of SuperHeroes in the world. Not only
            You will know his secret identity, also his statistics and appearances!</p>
            <a href="" routerLink="heroes" class="btnHero">See Gallery</a>
        </div>
    </div>
</article>